<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309553879208-m5efiljhtfrtarce0i1vhsfot2hh7sni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309553879208-m5efiljhtfrtarce0i1vhsfot2hh7sni</string>
	<key>API_KEY</key>
	<string>AIzaSyBO8tPgPWD4MCTujgoDFCXnhYqRCIP8Ens</string>
	<key>GCM_SENDER_ID</key>
	<string>309553879208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trivial.ContactsAndNotes</string>
	<key>PROJECT_ID</key>
	<string>contactsandnotes-8b326</string>
	<key>STORAGE_BUCKET</key>
	<string>contactsandnotes-8b326.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309553879208:ios:c7ec67b1d5e505e2454a9d</string>
</dict>
</plist>